.portfolio-projects {
    display: flex;
    flex-direction: column;
}
.project-skills {
    padding: 5rem 5rem;
}
.project-projects {
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem;

    background-color: var(--green-500);
    color: var(--white);
}
.projects-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}
.projects-container {
    display: inline-grid;
    justify-content: space-evenly;

    grid-template-columns: repeat(3, auto);
    row-gap: 1.5rem;
}

