.skills-about{
    display: inline-grid;
    width: 100%;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(auto, auto);
    row-gap: 3rem;
    margin-top: 5rem;
}
.skills-about li{
    color: var(--gray-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s;
}
.skills-about li:hover{
    transform: scale(1.1);
}
.skills-about li > p {
    margin-top: 0.5rem;
}
.skills-about img {
    object-fit: contain;
    width: 40px;
    height: 40px;
}
.skills-about em{
    font-size: 0.6rem;
    color: var(--green-700);
}
@media (max-width: 480px) {
    .skills-about{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(auto, auto);
    }
}