.career {
    padding: 2rem;
    width: 100%;
}
.career__title {
    font-size: 1.8rem;
    color: var(--title-color);
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: bold;
}
.career__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.job-experience {
    display: flex;
    height: 90vh;
    background-color: var(--background);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .career {
        padding: 4rem;
    }
}
@media (min-width: 1025px) {
    .career {
        padding: 4rem;
    }
}
