.language-card{
    width: 100%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    cursor: pointer;
    gap:  0.5rem;
}
.language-card:hover{
    background-color: var(--background-faded);
}