
.aboutme-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.aboutme-title {
    display: flex;
    flex-direction: column;
}
.aboutme-title h2 {
    color: var(--title-color);
    font-size: 2.5rem;
}
.aboutme-title p {
    color: var(--main-color);
    font-size: 1rem;
}
.aboutme-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: 0.9rem;
    text-align: justify;
    color: var(--text-color);
}
.about-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.about-resume a {
    color: var(--main-color);
}

.aboutme-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-title h3 {
    color: var(--title-color);
}
.contact-title p {
    color: var(--main-color);
}
.contact-info {
    color: var(--text-color);
}
.contact-info > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
@media (min-width: 769px) and (max-width: 1024px) { 
    .aboutme-info {
        width: 70%;
    }
    .about-text {
        font-size: 1.2rem;
    }
    .aboutme-contact {
        margin-top: 2rem;
        width: 30%;
    }
}
@media (min-width: 1025px) { 
    .aboutme-info {
        width: 55%;
    }
    .aboutme-contact {
        margin-top: 2rem;
    }
}
