.language-selector {
    position: relative;
    width: 150px;
    color: var(--text-color);
    background-color: var(--background-faded);
}
.language-selector select {
    padding: 0.25rem;
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text-color);
}
.language-selector__current{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.language-selector__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}
.language-selector__options {
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 0.5rem;
    width: 100%;
    
    position: absolute;
    z-index: 10;
    background-color: var(--background);
    border: 1px solid var(--background-faded);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.196);
}
@media (max-width: 769px) {
    .language-selector {
        width: fit-content;
    }
    .language-selector__current p {
        display: none;
    }
}