.aboutme {
    position: relative;
    background-color: var(--background);
}
.aboutme-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 90vh;
    padding: 2rem 2rem;
}
.skills {
    width: 100%;
}
.education {
    width: 100%;
}
.timeline {
    width: 100%;
}
.certificates {
    width: 100%;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
    background-color: var(--main-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
    .aboutme-main {
        flex-direction: row;
    } 
}
@media (min-width: 1025px) {
    .aboutme-main {
        flex-direction: row;
        padding: 4rem 4rem;
    } 
}
