.projects {
    display: flex;
    flex-direction: column;
}
.projects-title{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    text-align: center;
}
.projects-title h2{
    font-size: 2rem;
}
.projects-title p{
    color: var(--text-color-light);
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto, auto);
    gap: 1rem;
    padding: 2rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .projects-container{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(auto, auto);

    }
}
@media (min-width: 1025px) {
    .projects-container{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(auto, auto);

    }
}
