.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}
.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    text-align: center;
}
.projects-title h2,
.projects-extra-title h2 {
    color: var(--title-color);
    font-size: 2rem;
}
.projects-title p {
    color: var(--text-color);
}
.projects-main {
    min-height: 90vh;
    padding: 0.5rem;
}
.projects-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .projects-main {
        padding: 0 2rem;
        width: 80%;
    }
}
@media (min-width: 1025px) {
    .projects-main {
        padding: 0 2rem;
        width: 80%;
    }
    .projects-title h2 {
        font-size: 2.3rem;
    }
}
