.header-external-btn{
    display: flex;
   justify-content: flex-end;
}
.header-external-btn > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90px;
    line-height: 0;
    gap: 0.5rem;

    padding: 0.5rem 1.5rem;
    background-color: var(--green-700);
    border: 1px solid var(--green-500);
}
.header-external-btn a, .header-external-btn a:visited{
    color: black;
}