.portfolio-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    z-index: 1;
    position: sticky;
    top: 0;
    
    border-bottom: 1px solid var(--gray-900);
    background-color: var(--gray-700);
    color: var(--white);
}
.portfolio-header a {
    color: var(--white);
}
.header-logo{
    font-family: myFirstFont;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;

}
.logo-name{
    font-size: 1.8rem;
    font-weight: bolder;
}
.logo-title{
    font-weight: 100;
    color: var(--green-500);
    line-height: 1.5rem;
}
.header-link > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.header-external-btn{
    padding: 0.5rem 1.5rem;
    background-color: var(--green-700);
    border: 1px solid var(--green-500);

}
.header-external-btn a{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 0;
    gap: 0.5rem;
}
.header-external-btn a, .header-external-btn a:visited{
    color: black;
}