.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;

    height: 10vh;
    width: 100%;
    padding: 0 2rem;

    background-color: var(--background-faded);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.196);
    border-bottom: 1px solid var(--background);
}
.header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.header-logo a {
    font-weight: bold;
    line-height: 2rem;
    height: 2rem;
    font-size: 1.8rem;
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}
.header__misc{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .mobile-btn {
        display: none;
    } 
}
@media (min-width: 1025px) {
    .header {
        padding: 0 4rem;
    }
    .header-logo {
        font-size: 2.2rem;
    }
    .mobile-btn {
        display: none;
    } 
}
