.portfolio-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    z-index: 1;
    position: sticky;
    top: 0;

    border-bottom: 1px solid var(--gray-900);
    background-color: var(--gray-700);
    color: var(--white);
}
.portfolio-header > div {
    width: 30%;
}
.portfolio-header a {
    color: var(--white);
}
.header-link a:hover {
    border-bottom: 3px solid var(--green-700);
    padding-bottom: 1rem;
}
.header-link {
    display: flex;
    justify-content: center;
}
.header-link > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.nav-active,
.nav-active:visited {
    color: var(--green-700);
}
@media (max-width: 480px) {
    
    .header-link{
        display: none;
    }
}
