.certificate {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 80vw;
    height: 40vh;
}
.certificate-details {
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 1rem;
    background-color: var(--background-light);
    display: none;
}
.certificate-details em{
    color: var(--main-color);
}
.certificate-details > div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.details-title {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.details-tags {
    color: var(--text-color-light);
    font-size: 0.8rem;
}
.details-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
}
.details-info {
    margin-top: 1rem;
}
.details-info div {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}
.details-external-link {
    font-weight: bold;
    border: 1px solid var(--green-800);
    background-color: var(--green-700);
}
.details-external-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    gap: 8px;
}
.details-external-link,
.details-external-link:visited {
    color: var(--white);
}
.certificate-image {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.certificate-image:hover {
    transform: scale(1.025);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .certificate{
        width: 80vw;
        height: 55vh;
    }
    .certificate-details {
        width: 30%;
        display: flex;
    }
    .certificate-image {
        height: 100%;
        width: 70%;
        cursor: pointer;
        background-color: black;
        object-fit: fill;
        transition: transform 0.5s;
    }
}

@media (min-width: 1025px) {
    .certificate{
        width: 70vw;
        height: 70vh;
    }
    .certificate-details {
        display: flex;
    }
    .certificate-image {
        height: 100%;
        width: 60%;
        cursor: pointer;
        background-color: black;
        object-fit: fill;
        transition: transform 0.5s;
    }
}
