.image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;

    transition: visibility 1ms;
    background-color: rgba(0, 0, 0, 0.645);
}
.image-container {
    position: absolute;
    border-radius: 5px;
    outline: black solid 1px;
    background-color: rgba(0, 0, 0, 0.818);
    box-sizing: border-box;
}
.close-btn {
    position: absolute;
    z-index: 2;
    right: 0;
    color: white;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.82));
    cursor: pointer;
}

.zoomed-certificate {
    height: 100%;
    width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .image-modal {
        width: 100vw;
        height: 100vh;
    }
    .image-container {
        max-height: 80vh;
        max-width: 60vw;
    }
}
@media (min-width: 1025px) {
    .image-container {
        max-height: 80vh;
        max-width: 60vw;
    }
    .zoomed-certificate {
        max-height: 80vh;
        width: 100%;
    }
}
