.project-card {
    display: flex;
    height: 225px;

    overflow: hidden;
    border-radius: 5px;
    position: relative;

    transition: transform 0.25s;
}
.project-card:hover{
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-footer {
    bottom: 0;
    width: 100%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    position: absolute;
    box-sizing: border-box;

    background-color: var(--background-faded );
}
.footer-main{
    display: flex;
    flex-direction: column;
}
.item-title{
    color: var(--title-color );
    font-weight: 500;
}
.item-tags{
    color: var(--text-color );
    font-size: 0.6rem;
    font-family: "Roboto Mono", monospace;
}
.card-footer a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--main-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
   
}
@media (min-width: 1025px) {
}