.portfolio-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    height: 10vh;
    font-size: 0.8rem;


    border-top: 1px solid var(--gray-900);
    background-color: var(--gray-700);
    color: var(--gray-500);
}
.icon-container a{
    color: var(--gray-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
@media (max-width: 480px) {
    .portfolio-footer {
        justify-content: space-between;
        flex-grow: 1;
    }
    .portfolio-footer div{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        font-size: 0.7rem;
        width: 49%;
    }
    .icon-container a{
        padding: 5px;
        border: 1px solid var(--gray-500);
    }
}