* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    border: none;
    outline: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --green-700: rgb(18, 130, 6);
    --green-500: rgb(27, 172, 11);
    --gray-900: rgb(27, 27, 26);
    --gray-700: rgb(54, 55, 53);
    --gray-500: rgb(213, 213, 213);
    --white: rgb(255, 255, 255);
}

a {
    color: var(--green-500);
}
:visited {
    color: var(--green-700);
}

header,
section,
footer {
    padding-left: 5rem;
    padding-right: 5rem;
}
section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
button {
    padding: 0.5rem 2rem;
    border: 1px solid var(--green-500);
    background-color: transparent;
    color: var(--white);
}

.icon-container, button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
