/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

:root {
    --main-color: #1bac0b;

    --background-light:#ffffff;
    --background-faded-light: rgb(245, 245, 245);;
    --text-color-light: #363735;
    --title-color-ligght: #1b1b1a;

    --background-dark: #000000;
    --background-faded-dark: #212020;

    --green-800: rgb(14, 90, 6);
    --green-700: rgb(18, 130, 6);
    --green-500: rgb(27, 172, 11);
    --green-300: rgb(138, 238, 25);
    --gray-900: rgb(27, 27, 26);
    --gray-700: rgb(54, 55, 53);
    --gray-500: rgb(213, 213, 213);
    --gray-300: rgb(245, 245, 245);
    --white: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    text-decoration: 0;
    border: none;
    outline: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}