.aboutme-education,
.aboutme-education__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.aboutme-education {
    padding: 2rem;
}
.aboutme-education__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}
.aboutme-education__title h3 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--title-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
    .aboutme-education__container {
        padding: 1rem 3rem;
    }
}
@media (min-width: 1025px) {
    .aboutme-education__container {
        padding: 1rem 3rem;
    }
}
