/* .portfolio-aboutme{
} */
.aboutme-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    padding: 5rem;
}
.aboutme-title{
    line-height: 1.8rem;
}
.aboutme-title p {
    color: var(--green-700);
}
.aboutme-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 55%;
}
 
.portfolio-aboutme em{
    color: var(--green-700);
}

.about-image-container{
    height: 100%;
    width: 40%;
}
.about-image{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.about-btn-panel button{
    color: var(--green-700);
}

@media (max-width: 1080px) {
    .portfolio-aboutme{
        box-sizing: border-box;
    }
    .aboutme-main{
        padding: 2rem 2rem;
        box-sizing: border-box;
        width: 100vw;
        min-height: 90vh;
        flex-grow: 1;
    }
    .aboutme-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .aboutme-title h2{
        font-size: 2.5rem;
    }
    .aboutme-title p{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .aboutme-info{
        width: 100%;
        gap: 1rem;
    }
    .about-image-container{
        display: none;
    }
}
@media (max-width:1080px) {

}