.aboutme-about{
    display: flex;
    flex-direction: column;   
    height: 100%;
    gap: 1rem;
    
}
.about-presentation{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-700);
    font-size: 0.9rem;
}

.about-curriculum{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.about-curriculum p {
    font-weight: 400;
    color: black;
}
.about-academic-container{
    display: flex;
    flex-direction: column;
}
.about-academic-container h3{
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--gray-700);
}
