.aboutme-certification{
    background-color: var(--gray-300);
    height: 80vh;
    padding: 5rem;
}
.certification-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    line-height: 2rem;
}
.certification-main h2{
    text-align: center;
}
.certification-main p{
    color: var(--gray-700);
}
.certification-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.cert-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.cert-button:hover{
    transform: scale(1.2);
}
@media (max-width:480px) {
    .aboutme-certification{
        padding: 2rem 3rem;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .certification-main{
        text-align: center;
        gap: 1rem;
    }
    .certification-main h2{
        font-size: 2.5rem;
    }
    .certification-main p{
        line-height: 1rem;
    }
    .cert-button{
        width: 10vw;
    }
}