/* .portfolio-aboutme{
} */
.aboutme-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    padding: 5rem;
}
/* .aboutme-title{
} */
.aboutme-info{
    width: 55%;
}
 
.portfolio-aboutme em{
    color: var(--green-700);
}

.about-image-container{
    height: 100%;
    width: 40%;
}
.about-image{
    width: 100%;
    height: 100%;
    background-image: url("../../Images/about-me.jpg");
    background-size: cover;
}
.about-btn-panel button{
    color: var(--green-700);
}
