.container-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.item-title{
    font-size: 1.2rem;
    line-height: 1rem;
}
.item-title p{
    font-size: 1rem;
    color: var(--gray-700);
}
.item-title em{
    font-size: 0.8rem;
}
.item-info > div{
    margin-left: 1rem;
}
.item-info span {
    color: var(--green-700);
    font-weight: 500;
}